html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
  * Global layout stuff
  */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
}

/*
  * Additional CSS can be defined below or in other CSS files, as per instructions
  */

main {
  width: 90%;
  margin: 0 auto;
  background-color: #f4f1ec;
  font-size: 20px;
  font-weight: bold;
}

article footer {
  border-top: 3px solid #545149;
}

footer span {
  margin-top: 10px;
}

i.fa-solid {
  padding: 3px;
}

span i.fa-solid:hover {
  color: rgb(230, 154, 12);
  transition: all 250ms ease-in-out;
}

span i.fa-solid.fa-heart:hover {
  color: #be0404;
  transition: all 250ms ease-in-out;
}

footer i {
  color: #4056a1;
}

.tweets-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.tweets-container footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-header img {
  width: 2em;
  height: 2em;
}

.other-user {
  font-weight: 300;
  margin-left: 10px;
}

.tweet-content {
  margin-bottom: 30px;
}

.arrow {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.tweets-container {
  border: 3px solid #545149;
  padding: 25px;
  margin-bottom: 50px;
}

.tweets-container:hover {
  box-shadow: 5px 5px #c9cae2;
  transition: all 150ms ease-in-out;
}

.user-handle {
  color: #4056a1;
  opacity: 45%;
}
