main.container button {
  background-color:#4056a1;
  padding: 5px 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
}

form label[for=tweet-text] {
  font-weight: bold;
}

 .new-tweet {
  margin: 50px 10px;
  font-size: 20px;
}

#tweet-text {
  width: 100%;
  background: transparent;
  border-style: hidden;
  /* border-bottom-style: solid; */
  border-bottom: 3px solid #545149;
  outline: none;
  font-size: 15px;
  font-weight: bold 
}

form .bottom-elements {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.long-tweet {
  color: red;
}

div.no-content, div.too-many-chars {
  display: none;
  background-color: rgba(250, 4, 4, 0.808);
  opacity: 85%;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 18rem;
  border-radius: 0 0 10px 10px;
  font-weight: 300;
  font-size: 15px;
}

@media only screen and (min-width: 1024px) {

  main.container {
    padding-top: 130px;
    margin: 20px
  }

}